.itemButton,
.buttonContainer button {
  width: 14rem;
  height: 4rem;
  margin: 0.5rem;
  border-radius: 12px;
  background-color: #f5f6fa;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1rem;
  color: #aeb0b3;
  transition: 0.3s ease-in-out;
}
button img {
  pointer-events: none;
}
button:first-child {
  justify-content: flex-end;
}

button:hover {
  cursor: pointer;
}
button:focus img {
  filter: brightness(100);
}
.active {
  background-color: #0071bc;
  color: #fff;
}
