.cardContainer {
  margin-top: 100px;
  margin-left: 4rem;
  background-color: #fff;
  width: 70rem;
  display: flex;
  /* padding: 1rem 2rem 0 0; */
  border-radius: 20px 20px 0 0;
  height: calc(100vh - 6.69rem);
}

.itemContainer {
  width: 100%;
}
.description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 1rem;
  position: relative;
}

.description img {
  z-index: 5;
  margin-right: 5%;
}
.description img:hover {
  cursor: pointer;
}
.overflow {
  right: 30%;
  top: 103px;
  z-index: 0;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
  align-items: flex-start;
 */
  padding-left: 3rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 53rem;
}

.bar {
  overflow-y: scroll;
  max-height: 100%;
  width: 105%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  padding-top: 2rem;
  z-index: 1;
}
