* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  background-color: #f5f6fa;
  flex-direction: row;
}

.overlay {
  background-color: rgba(31, 31, 31, 0.931);
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

.modal {
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.829);
  height: 10rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal button {
  color: white;
  display: flex;
  justify-content: center !important;
  font-size: 20px;
}

.modal button:nth-child(1) {
  background-color: rgb(224, 21, 116);
  color: rgb(240, 240, 240);
  font-weight: 700;
}

.modal button:nth-child(2) {
  background-color: rgb(124, 13, 175);
}
